/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .sankosha .message {
     padding: 8px;
     margin-bottom: 0.5rem;
     border:1px solid #333;
     background-color: #dedede;
     color: black;
 }

 .sankosha .message.error {
     border-color : #c0392b;
     color : #c0392b;
     background-color: #fcdedb;
 }

 .sankosha .message.info {
     border-color : #2980b9;
     color : #2980b9;
     background-color: #cceafc;
 }

 .sankosha .message.success {
     border-color : #27ae60;
     color : #27ae60;
     background-color: #bdf9d6;
 }

.sankosha-list-product {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 -10px;
}

.sankosha-list-product .product {
    flex: 0 0 25%;
    text-align: center;
}

.sankosha-list-product .product .product-content {
    margin: 10px;
    border: 1px solid #eee;
}

.sankosha-list-product a {
    display: block;
}

.sankosha-list-product figure {
    margin: 0 0 .5rem 0;
}

.sankosha-list-product figure a {

}

.sankosha-list-product figure a img {
    max-width: 100%;
    width: 'auto';
}

.sankosha-list-product h2 {
    text-align: center;
    font-size: 1.2rem !important;
    margin-bottom: .2rem !important;
    padding: 0 !important;
}

.sankosha-list-product h2 a {
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: bold;
}

.sankosha-list-product a.button {
    display: inline-block;
    background-color: #0274be;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: .5rem 1.6rem;
    margin: 0 0 .5rem 0;
    border-radius: 13px;
    line-height: 1;
}
.sankosha-list-product .price {
    font-weight: bold;
    margin-bottom: .5rem;
    color: #3ed492;
}

.sankosha-order-form {
    width:90%;
    max-width: 720px;
    margin: 1rem auto;
    background-color: #dfe6e9;
    border: 1px solid #636e72;
    padding: 2rem;

}

.sankosha-order-form h4 {
    border-bottom : 1px solid #636e72;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.sankosha-order-form .field {
    margin-bottom: .8rem;
}

.sankosha-order-form .field label {
    display: block;
}

.sankosha-order-form .field label span{
    display: block;
    font-size: 1rem;
}

.sankosha-order-form .field label span sup {
    bottom: 0;
    color: red;
}

.sankosha-order-form .field input,
.sankosha-order-form .field textarea{
    border : 1px solid #888;
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

.sankosha-order-form button {
    width: 100%;
    display: inline-block;
    background-color : #0274be;
    color : white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: .4rem;
    margin: 0 0 .5rem 0;
    border-radius: 4px;
    font-size: 1.2rem;
}

.sankosha-order-form .message {
    display: none;
}

.sankosha-pagination {
    text-align: center;
    margin: 19px 0;
}
.sankosha-pagination a {
    border: 3px solid #0274be;
    background: #0274be;
    color: #fff;
    padding: 3px 16px;
    line-height: 1;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    margin-bottom: 5px;
}
.sankosha-pagination a.active {
    color: #0274be;
    background: #fff;
}

.sankosha-search {
    margin-bottom: 10px;
    width: 50%;
}
.sankosha-search input {
    border: 2px solid #777 !important;
    padding: 7px !important;
    width: 80%;
    line-height: 1;
    font-size: 15px !important;
    font-family: arial !important;
}
.sankosha-search button {
    line-height: 1;
    background: #777;
    border: 0;
    padding: 0;
    vertical-align: middle;
    margin-left: -5px;
    margin-top: -3px;
    color: #fff;
}
.sankosha-search .dashicons-search {
    transform: rotate( 90deg );
    font-size: 35px;
    width: unset;
    height: unset;
}
#TB_ajaxContent {
    padding-top: 15px !important;
}
#TB_caption {
    height: 45px;
}
.product-galley img {
    border: 3px solid #ddd;
}
.product-meta {
    margin-bottom: 30px;
}
.product-meta p {
    margin: 0 !important;
    padding: 0 !important;
}
.product-meta p .label {
    color: #0274be;
    font-weight: bold;
}
.product-galley {
    margin-bottom: 30px;
}
.product-btn {
    text-align: center;
}
.product-btn button.order-product-modal-btn {
    border-radius: 10px;
    padding: 8px 16px;
    color: #ffffff;
    border-color: #0274be;
    background-color: #0274be;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
}

#TB_window {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 90%;
    margin: 0 !important;
}
#TB_ajaxContent {
    width: 100% !important;
    height: 90vh !important;
    max-width: 100%;
    box-sizing: border-box;
}
.single-product {
    padding: 60px;
    background: #fff;
    max-width: 1140px;
    margin: 0 auto;
}
.single-product h2.single-product-title {
    color: #0274be;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.single-product p {
    margin-bottom: 10px;
}

@media screen and (max-width:960px) {
    .sankosha-list-product .product {
        flex: 0 0 45%;
    }
}

@media screen and (max-width:480px) {
    .sankosha-list-product .product {
        flex: 0 0 100%;
    }
    .sankosha-search {
        width: 100%;
    }
}